.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-top: 20px;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

th, td {
    padding: 5px;
}

#theTable {
    width: 100%;
    border-collapse: collapse;
}

#theTable tr:nth-child(even) {
    background-color: #eee;
}
#theTable tr:nth-child(odd) {
    background-color: #fff;
}
#theTable th {
    color: white;
    background-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
